<h1>Signup!</h1>

<%= form_for [:user, @user], url: '/users' do |f| %>
  <% if f.object.errors.any? %>
  <div class="alert alert-danger">
    <% f.object.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </div>
  <% end %>
  
  <div>First Name: <div><%= f.text_field :first_name, require: true %></div></div>
  <div>Last Name: <div><%= f.text_field :last_name %></div></div>
  <div>Email: <div><%= f.text_field :email %></div></div>
  <div>Password: <div><%= f.password_field :password %></div></div>
  <div>Password Confirmation: <div><%= f.password_field :password_confirmation %></div></div>
  <div><%= f.submit "Submit" %></div>
       
<% end %>